<%- include('../partials/header')%>

    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(t) { %>
        <li>
          <form method="POST" action="/skills/<%=t.id%>?_method=DELETE">
            <button type="submit">X</button>
          </form>


          <a href="/skills/<%=t.id%>"><%= t.todo %></a>
            - 
          <%= t.done ? 'mastered' : 'not mastered' %>
        </li>
      <% }); %>
    </ul>
    
<%- include('../partials/footer')%>